.cad-action-title {
  color: #ebe9e9;
  font-family: -apple-system, BlinkMacSystemFont, "Departure Mono", Roboto, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

