.habit-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.habit-display-box {
  width: 350px;
  height: 290px;
  border: 1.5px solid #ffffff;
  border-radius: 7px;
  background-color: rgba(9, 9, 9, 0.8);
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.habit-display-name {
  color: #ffffff;
  font-family: "Departure Mono", monospace, -apple-system, sans-serif;
  font-size: 1.7rem;
  text-align: left;
}
