.progress-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: 15px;
  gap: 15px;
}

.progress-stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.progress-main-value {
  color: #989898;
  font-family: "Departure Mono", monospace;
  font-size: 1.5rem;
  line-height: 1;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 4px; /* Espaço entre os blocos segmentados */
  width: 100%;
  height: 14px;
}

.progress-block {
  flex: 1; /* Faz todos os blocos terem a mesma largura */
  border-radius: 3px;
}

.progress-block.filled {
  height: 16px; /* Altura do bloco simulando um quadrado/retângulo */
  background-color: #f18800;
  box-shadow: 0 0 8px rgba(255, 157, 0, 0.6); /* Brilho individual e sutil do bloco */
}

.progress-block.empty {
  height: 3px; /* Transforma o bloco vazio em um pequeno traço (dash) */
  background-color: #404040;
}
