.progress-bar-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px; /* Espaço entre o título e a barra */
  gap: 15px; /* Espaço entre a barra e a porcentagem */
}

.progress-bar-container {
  width: 100%;
  max-width: 200px; /* Para não encostar na borda direita do card */
  height: 30px;
  background-color: #404040; /* Fundo cinza escuro, como na imagem */
  border-radius: 2px; /* Cantos arredondados (pill shape) */
}

.progress-bar-fill {
  height: 100%;
  background-color: #ffffff; /* Verde claro neon parecido com o da imagem SVG */
  border-radius: 2px;
  transition: width 0.5s ease-in-out;
}

.progress-bar-text {
  color: #ffffff;
  font-family: "Departure Mono", monospace;
  font-size: 1.5rem;
}
